<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShrineSeeker</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="container">
    <header>
      <h1>ShrineSeeker</h1>
    </header>
    <main>
      <section class="intro">
        <div class="text">
          <p>ShrineSeeker is your ultimate itinerary planner to exploring Kyoto's most iconic and hidden sanctuaries!
          </p>
          <p>Discover sacred shrines with ease!</p>
          <button>Let's Get Started!</button>
        </div>
        <div class="image">
          
        </div>
      </section>
    </main>
  </div>
</body>

</html>